@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box
}

body {
  @apply bg-blue-100 text-gray-800 scroll-smooth;
}

.pop-in-1 {
  animation-name: pop-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 10ms;
}


.pop-in-2 {
  animation-name: pop-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 10ms;
}

.pop-in-3 {
  animation-name: pop-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 10ms;
}

.pop-in-4 {
  animation-name: pop-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 10ms;
}

@keyframes pop-in {
  0% {
    scale: 0.2;
    opacity: 0.2;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}